 
 #navbar-ul{
    gap:4rem;
}


       table {
           font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 100%;
       }

       td,
       th {
           border: 1px solid #dddddd;
           text-align: left;
           padding: 8px;
       }

       tr:nth-child(even) {
           background-color: #dddddd;
       }
   nav li.nav-item{
       display:flex;
   }

#main-heading{
   font-weight:bold;
   font-size:1.6rem;
}
nav .container-fluid{
   padding:1em;
   color:white;
}
